* {
   text-decoration: none;
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
    background-color:rgb(0, 0, 0)
}

.navigation-menu {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-image {
    padding-top: 8px;
}

p {
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
color: #fff;
}

a {
    text-decoration: none;
    color: rgb(8, 8, 8);
}

ul {
    display: flex;
    align-items: center;
}

li {
font-family: GeoEditRegular,Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Helvetica,Arial,sans-serif;
list-style: none;
margin: 15px;
margin-top: 0px;
letter-spacing: 3px;
text-align: center;
}

.subscribe {
    background-color: black;
    box-sizing: border-box;
    padding-top: 15px;
}

.nav-subscribe {
    color:#fff
}

.container-news {
    margin: 100px 0 0 150px;
}

.newsletters {
    border-bottom: 1px solid yellow;
    letter-spacing: normal;
}

.general-heading {
    margin-top: 100px;
    text-align: center;
    color: #fff;
    font-size: 50px;
    letter-spacing: 3px;
}

.general-paragraph {
    margin-top: 25px;
    text-align: center;
    line-height: 1.5px;
    font-size: 18px;
    color: #fff;
    font-family: GeoEditRegular,Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Helvetica,Arial,sans-serif;
}

.general-line {
    width: 60px;
    height: 4px;
    background-color: #fc0;
    box-sizing: border-box;
    margin: 21px auto 0;
}

.general-subscribe {
    border-bottom: 2px solid #fc0;
    text-decoration: none;
    color: #fff;
}

.secondary-heading {
    color: #fff;
    font-size: 32px;
    letter-spacing: 3px;
    display: flex;
    padding-left: 25px;
}

.secondary-line {
    width: 5px;
    height: 20px;
    background-color: #fc0;
    box-sizing: border-box;
    margin: 0 0 0 10px;
    display: flex;
    box-sizing: border-box;
    margin-left: 0;
    margin-top: 8px;
}    
.today-picks {
    display: flex;
}

.seemore {
    color: #fff;
    border-bottom: 2px solid #fc0;
}